@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@300&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* display flex and flex column make a flex box and align the children top to bottom
/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
}


/* Header */
header {
    background-color: lightcoral;
}

/* Main content */
main {
    background-color: lightblue;
    /* Make main element take up any surplus space to push footer down it does this by getting the flexbox values from body */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: orange;
}