@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* display flex and flex column make a flex box and align the children top to bottom
/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
}

h1,
h2,
h3 {
    color: #FFFFFF;
    font-family: 'Noto Sans', sans-serif;
    text-transform: capitalize;
    letter-spacing: 1.5px;
}

a {
    font-size: 150%;
    font-family: 'Noto Sans', sans-serif;
    text-transform: capitalize;
    letter-spacing: 1.5px;
    text-decoration: none;
    margin-bottom: 0 1rem;
    color:#3a3a3a;
}

/* Header------------------------------------------------------------------------------------------------- */
header {
    background-color: rgb(85, 153, 85);
    padding: 0 2rem;
    /*to ensure nothing goes over the header*/
    z-index: 10;
    position: fixed;
    /*something i learned from the Love running project*/
    box-shadow: 0 2px 2px #3a3a3a;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}



/*dropdown content (this will also include nav content)------------------------------------------------------- */


nav {
    position: absolute;
    top: 100%;
    left: 0;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0.4s;
    width: 100%;

}

.option{
    padding: 0 1rem;
}


.option:hover {
    background-color: rgb(85, 153, 85);
    transition-duration: 1.0s;
    color: #FFFFFF;
    width: 100vw;
    padding: 0 4rem;
}

/*aligning options inside the nav area*/
nav>ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
    box-shadow: 0 2px 2px #3a3a3a;
    background-color: #FFFFFF;
    width: auto;
}

/* Adjust width on hover */
nav:hover>ul {
    width: 100%;
    /* Take up the full width on hover */
}

#nav-icon {
    font-size: 280%;
    color: #FFFFFF;
}

/*getting rid of checkbox*/
#checkbox-options{
    display: none;
}

/*allows for smooth transition*/
#checkbox-options:checked~nav{
        opacity: 1;
        visibility: visible;
 }


/* Main content ---------------------------------------------------------------------------------------------------------*/
main {
    /* Make main element take up any surplus space to push footer down it does this by getting the flexbox values from body */
    flex: 1 0 auto;
    margin-top: 47px;
}
/* Hero section ---------------------------------------------------------------------------------------------------------*/
#hero {
        height: 100vh;
        width: 100%;
        background: url("../images/Nursehero-image.webp") no-repeat center center/cover;
        position: relative;
        box-shadow: 0 2px 2px #3a3a3a;
    
}

#cover-text {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: rgb(85, 153, 85, .7);
    font-size: 130%;
    position: absolute;
    bottom: 30%;
    width: 40%;
    min-height: 50px;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    margin: auto;
}

#cover-text-space{
    margin-bottom: 2px solid white;
    padding-bottom: 10px;
}

#cover-text>h2,
#cover-text>h3 {
    color: #ffffff;
}
/*join us content -------------------------------------------------------------------------------------------------------*/

#joinuscontent {
    background-color: rgb(85, 153, 85);
    display: flex;
    flex-direction: row;
    margin: 15px;
}

#textContainer {
    width: 65%;
    text-align: center;
}

/*aligning text to the center of the container and also using up the surplus space*/
#textContainer p{
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    color: #FFFFFF;
    width:fit-content;
}

#textContainer h2{
    text-align: center;
    margin-top: 10px;
    border-bottom: 1px solid #FFFFFF;
}

#ImageContainer img {
    width: 100%;
    height: 100%;
}

#buttonContainer{
    padding-top: 15px;
    padding-bottom: 15px;
}


#buttonContainer button{
    padding: 10px;
    background-color: #FFFFFF;
    color: rgb(85, 153, 85);
    border: 1px solid rgb(85, 153, 85);
}

/* default styles for the button link*/
#buttonContainer a{
    color: rgb(85, 153, 85);
}

/*adding hover effects for button*/
#buttonContainer button:hover{
        background-color: rgb(46, 86, 46);
        transition: 0.4s;
        transition-delay: 0.2s;
        transition-duration: 0.5s;
}

/*changing the color of the link when button is hovered over*/
#buttonContainer button:hover a{
    color: #FFFFFF;
    transition-delay: 0.2s;
    transition-duration: 0.5s;
}


/* Footer----------------------------------------------------------------------------------------------------------- */

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    z-index: 4;
}

#social-networks i {
    font-size: 100%;
    padding: 5%;
    color: #3a3a3a;
    z-index: 4;
}


/* Adjustments for smaller screens (phones) -----------------------------------------------------------------------*/
@media screen and (max-width: 780px) {
    /*generic styles*/
    h1,
    h2,
    h3{
        font-size: 65%;

    }
    /*header */
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }
    br{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    /*nav content------------------------------------------------------------------------------------*/
    nav {
        position: absolute;
        top: 100%;
        left: 0;
        justify-content: center;
        opacity: 1;
        visibility: hidden;
        width: 100%;
    }
    
    a {
        font-size: 100%;
        margin-bottom: 0.5rem;
    }


    #logo {
        font-size: 1.5rem;
        /* Adjusted font size for smaller screens */
        margin-bottom: 0.5rem;
    }

    #checkbox-options {
        display: none;
    }

    .checkbox-label {
        cursor: pointer;
        color: #fff;
        font-size: 1rem;
        /* Adjusted font size for smaller screens */
        padding: 0.5rem;
        /* Added padding for smaller screens */
        margin-bottom: 0.5rem;
    }


    nav>ul {
        flex-direction: column;
    }

    #dropdown-options:checked~.dropdown-content {
        display: block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        box-shadow: 0 2px 2px #3a3a3a;
        background-color: #FFFFFF;
        transition: none;
        z-index: 1;
    }
    /*hero content----------------------------------------------------------------------------*/
    #hero{
        position: relative;
        width: 100%;
        height: 55vh;
        margin-top: 84px;
        box-shadow: none;
    }
    #cover-text{
        position: absolute;
        top: 50%;
        overflow: auto;
        min-height: fit-content;
        margin-bottom: 20px;
    }
    /*Join Us content--------------------------------------------------------------------------*/
    #joinuscontent{
        display: flex;
        flex-direction: column;
    }
    #ImageContainer img{
        width: 100%;
        height: 100%;
        align-content: center;
        justify-content: center;
        padding: 1rem;

    }
    #textContainer{
        text-align: fit-content;
        width: fit-content;
    }

    #textContainer h2{
        font-size: 24px;
        letter-spacing: 1.5px;
    }

    #textContainer p{
        font-size: 16px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media screen and (min-Height: 1300px ){
    .option{
        font-size: 200%;
        padding-bottom: 10px;
    }
    /*hero content*/
    #hero{
        height: 100vh;
    }
    #cover-text{
        width: 50%;
        font-size: 160%;
    }
}